.dark-mode{
    background-color:$dark-mode-bkg;

    p{
        color:#a7a9be !important;

    }

    h1{
        color:#fffffe ;
    }




    .header{
        background-color:#17152393;
    }
    .bubbly-button {
      color:$main-color-2 !important;
    }

    .bubbly-button:active {
       
        color:$main-color-2 !important;
        background-color: $dark-mode-bkg;
        box-shadow: 0 2px 25px rgba(208, 23, 119, 0.648);
      }

    .toggle-btn{
        color:white;
        z-index: 3;
        background-color:transparent;
        box-shadow: 0 0 10px rgba(141, 56, 56, 0.419);
    }

    .text-box::after,
    .text-box::before{
        background-color: $dark-mode-bkg;
    }

    .btn-cv{
        color: #a7a9be;
    }


    .container-about{
        width: 100%;
        padding: 5rem 1rem 5rem 5rem;
        display: grid;
        grid-template-columns:50% 50%;
        background-image: none !important;
        background-attachment: fixed; 
      }

    .about-me p{
      color:#a7a9be !important;
    }

    .heading-about{
        color: #fffffe !important;

    }

    .container-skills:hover{

        .card::before{
          content: '';
          background-image: conic-gradient(
              #e6be0b 30deg,
              transparent 120deg
          );
          width: 150%;
          height: 150%;
          position: absolute;
          animation: rotate 3s linear infinite;
      }
      
      .card::after{
          background:$dark-mode-bkg;
      }
     
      
      }

      .container-skills .card .face.face1 .content img{
        filter: invert(80%);
        margin-bottom: 4px;
      }

      .container-skills .card .face.face1 .content h3{
        filter: invert(80%);
        margin-bottom: 4px;
      }

      .container-port{
        background-image: none;
      }

      .heading-port{
        color: #fffffe;
      }

      .cards-port{
        background-color:#181625;
      }

      .cards-port:hover{
        border: solid 2px #fec601;
        box-shadow: 0 15px 30px rgba(159, 51, 51, 0.436);
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
      }

      .btn-port{
        color: #a7a9be;
      }
      .card-down h3{
        color: #fffffe;
      }

      .icon-container i{
        color: #a7a9be;
      }

      .link-social i{
        color: #a7a9be;
      }
      
    

      .icon-container a {
        text-decoration: none;
        color: #29262B;
      }
      .icons-container > .icon-container {
        padding: 1em 1.2em;
        border-radius: 0.5em;
        transition: all 0.2s ease-in-out;
      }
      .icons-container.not-animated > .icon-container {
        transform: scale(1.2) !important;
      }
      .icon-container:hover {
        animation: forwards 0.2s !important;
        box-shadow: none;
      }
      
    }
    