// VARIABLES
$white:#fff;
$black: #000;
$background:#faf7f9;
$main-color-1:#fec601;
 $main-color-dark-1: #fec601;
$main-color-2: #b92079;
$main-color-dark-2: #b92079;
$bg-color:#faf7f9;
$bg-color-1: hsl(var(--hue-1), 100%, 95.5%);
$bg-color-2: #fff;
$bg-color-3: hsl(var(--hue-1), 100%, 98%);
$bg-color-transparent: rgba(255, 255, 255, 0.6);
$heading-color: #7c144c;
$text-color:#343434;
$dark-mode-bkg-light:#16161a;
$dark-mode-bkg:#0f0e17;





//*Media queries 

$desktop:1100px;
$tables: 790px;
$phone: 550px;